.productDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.body{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align content vertically to the top */
    margin: 10px 0;
    max-width: 1500px;
    gap: 6rem;
}

.productDescription{
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
.productDescription pre{
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 10px;
    color: #333;
}

.productDescription h1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.productDescription h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}
.similarProducts{
    margin: 10px 20px;
    width: 100%;
    max-width: 1200px;
}
.addToCartButton {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 10px;
    border: 1px solid #6c0d40;
    background-color: #6c0d40;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.addToCartButton:not([disabled]):hover {
    color: #ffffff;
    background-color: #6c0d40;
    transform: scale(1.05); /* Add this line */
}

.buttonDisabled {
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: not-allowed;
}

.dropdownsWrapper{
    align-items: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;
}
.rtl {
    direction: rtl;
}
@media (max-width: 1230px) {

    .productDetails {
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    .body{
        flex-direction: column;
        margin: 10px 20px;
        gap: 2rem;
        align-items: center;
    }
    .productDescription{
        margin: 0 10px;
        max-width: 90%;
    }
    .dropdownsWrapper{
         max-width: 100%;
    }
    .similarProducts{
        margin: 10px 20px;
        max-width: 100%;
    }
}