.priceBreakdown {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.priceBreakdown .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.priceBreakdown .total {
    font-size: 1.2rem;
    font-weight: bold;
}

.priceBreakdown button {
    width: 100%;
    margin-top: 10px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #313131;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.priceBreakdown button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
