.orderGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.order{
    margin-bottom: 20px;
}
/* For medium screens */
@media screen and (max-width: 920px) {
    .groupName {
        font-size: 16px;
    }
}

/* For small screens */
@media screen and (max-width: 600px) {
    .groupName {
        font-size: 16px;
    }
}
