.delivery {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: #ffffff;
}

.delivery h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333333;
}

.delivery .addressForm,
.delivery .selectedAddress {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.delivery select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 16px;
    /*margin-bottom: 20px;*/
}

.deliveryButton {
    margin-top: 10px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #313131;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    align-self: end;
    transition: background-color 0.3s;
}
.deliveryButton:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.delivery .addressForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery .selectedAddress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectWrapper {
    position: relative;
    display: inline-block;
    /*padding: 5px 30px 5px 10px; !* The padding here will appear to affect the select *!*/
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; /* This will ensure the select element does not overlap the padding */
}

.selectWrapper:after {
    content: '⌄'; /* You can use different symbols or an SVG for a custom arrow */
    position: absolute;
    top: 50%;
    scale: 150% 100%;
    right: 10px; /* Adjust this to move the arrow horizontally */
    transform: translateY(-50%);
    pointer-events: none;
}

.selectWrapper select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent none;
    display: inline-block;
    appearance: none; /* This removes the default arrow in some browsers (like Chrome) */
    -webkit-appearance: none; /* This removes the default arrow in some browsers (like Safari) */
    -moz-appearance: none; /* This removes the default arrow in Firefox */
    cursor: pointer;
}