.productCard {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    width: 100%;
    align-items: center;
}

.productLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.productCard:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.productImage {
    display: block;
    width: 100%;
    height: 0;
    align-items: center;
    padding-bottom: 80.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.productImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%; /* Change this line */
    transform: translateX(-50%); /* Add this line */
}

.productInfo {
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.productInfoContent {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 0.8rem;
    color: #333;
    margin: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: lighter;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* Adjust the value based on your font size and line-height */
    line-height: 1.5
}

.description {
    font-size: 0.8rem;
    color: #333;
    margin: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: lighter;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* Adjust the value based on your font size and line-height */
    line-height: 1.5
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin: 10px;
}

.addToCartButton {
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    width: 90%;
    margin: 20px 10px;
    /*transition: all 0.3s ease-in-out;*/
}

.productCard:hover .addToCartButton {
    opacity: 1;
}

.hidden {
    position: static;
    visibility: hidden;
}

.rtl {
    direction: rtl;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 1em; /* Adjust this based on your line-height */
        line-height: 1;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

    }

    .description {
        font-size: 0.7rem;
        padding: 8px 10px;
        display: none;
    }

    .price {
        font-weight: bold;
        font-size: 0.9rem;
        color: #000;
    }
    .addToCartButton {
        font-size: 0.5rem;
        padding: 8px 16px;
        margin: 0 20px 30px 20px;
        opacity: 1;
    }

}