.productsList {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 0;
    box-sizing: border-box;
    margin: 20px 0;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.listHeader{

}
@media screen and (max-width: 648px) {
    .productsList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1190px) and (min-width: 648px ) {
    .productsList {
        grid-template-columns: repeat(3, 1fr);
    }
}