.delivery {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: #ffffff;
}

.delivery h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333333;
}

.delivery .addressForm,
.delivery .selectedAddress {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.delivery select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.deliveryButton {
    margin-top: 10px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #313131;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    align-self: end;
    transition: background-color 0.3s;
}
.deliveryButton:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.delivery .addressForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delivery .selectedAddress {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.streetLabel {
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 5px;
}

.streetForm{
    display: flex;
    flex-direction: column;
}

.streetForm input{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
