.emptyView {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center; /* align vertically */
    text-align: center;
}

/* For small screens */
@media screen and (min-width: 700px) {
    .emptyView {
        height: 50vh;
    }
}
