.mostSearchedProductsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Increase the gap */
    gap: 20px;
    margin: 10px 10px;
    max-width: 1200px;
    padding: 0 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .mostSearchedProductsList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1190px) and (min-width: 768px ) {
    .mostSearchedProductsList {
        grid-template-columns: repeat(3, 1fr);
    }
}