.signInPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signInContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.formHeader {
    margin-bottom: 20px;
    text-align: center;
}

.formContainer {
    max-width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.logo a {
    text-decoration: none;
    color: #000;
}
.form {
    display: flex;
    flex-direction: column;
   align-content: center;
}

.label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputField {
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}


.submitButton{
    width: 100%;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #313131;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #151515;
}

.signUpLink {
    display: block;
    margin-top: 20px;
    text-align: center;
}
.signUpLink a{
    text-decoration: none;
    color: #6c0d40;
    font-weight: bold;
}